<div id="social-bar" style="display: none;">
	<ul class="rrssb-buttons clearfix">    
  </ul>	
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{asset '/js/rrssb.min.js'}}"></script>
{{#contentFor "head"}}
	<link rel="stylesheet" type="text/css" href="{{asset '/styles/rrssb.css'}}">
	<meta property="og:title" content="{{title}}" />
	<meta property="og:type" content="article" />
	<meta property="og:description" content="{{excerpt}}..."/>
{{/contentFor}}